*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
}

body{
    height: 100%;
    background-color: black;
    color: aliceblue;
    font-family: "lxgw-wenkai-mono-tc", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 3%;
    font-size: 24px;
}

a{
    text-decoration: none;
    color:aliceblue;
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
