*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
}

body{
    height: 100%;
    background-color: #8A0015;
    font-family: "lxgw-wenkai-mono-tc", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left:12%;
    margin-top:12%;
    font-size: 24px;
    color: aliceblue;
}

a{
    text-decoration: none;
    color:gold;
 }

 .swirly-text {
    animation: swirl 3s infinite; 
}


@keyframes swirl {
    0% {
        transform: rotate(0deg) scale(1); 
    }
    25% {
        transform: rotate(10deg) scale(1.1); 
    }
    50% {
        transform: rotate(-10deg) scale(1.1); 
    }
    75% {
        transform: rotate(10deg) scale(1.1); 
    }
    100% {
        transform: rotate(0deg) scale(1); 
    }
}