*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
}

body{
    height: 100%;
    background-color: #8A0015;
    font-family: "lxgw-wenkai-mono-tc", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 14%;
    margin-top: 14%;
    font-size: 24px;
    color: aliceblue;
}

a{
    text-decoration: none;
    color:gold;
 }

 a{
    transition-property: opacity;
    transition-duration: 5s;
    transition-timing-function: ease-out;
    transition-delay: 2s;
}

a:hover{
    opacity: 0;
}

.slide-in-text {
    opacity: 0; 
    animation: slideInFromRight 8s ease-out forwards; 
}


@keyframes slideInFromRight {
    0% {
        transform: translateX(100%); 
        opacity: 0; 
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}