*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
}

body{
    height: 100%;
    background-color: #8A0015;
    font-family: "lxgw-wenkai-mono-tc", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 22%;
    margin-top: 22%;
    font-size: 24px;
    color: aliceblue;
}

a{
    text-decoration: none;
    color:gold;
 }

 .disappear-text {
    animation: disappear 7s ease-in-out forwards; 
}


@keyframes disappear {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: 0; 
    }
}
 