*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #8A0015;
    font-family: "lxgw-wenkai-mono-tc", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 5%;
    font-size: 30px;
}

a{
    text-decoration: none;
    color:darkgray;
}