*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
}

body{
    height: 100%;
    background-color: #8A0015;
    font-family: "lxgw-wenkai-mono-tc", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 6%;
    margin-top: 6%;
    font-size: 24px;
    color: antiquewhite;
}

a{
    text-decoration: none;
    color:rgb(150, 150, 150);
}

.fall-apart-text {
    font-size: 50px;
  cursor: pointer; 
}

  .fall-apart-text span {
    display: inline-block;
  animation: fallApart 2s ease forwards; 
  animation-delay: calc(var(--i) * 0.8s); 
  }
  @keyframes fallApart {
    0% {
        transform: translate(0, 0) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: translate(calc(var(--i) * 10px - 30px), 100px) rotate(180deg); 
        opacity: 0;
      }
    }


@keyframes comeInAnimation {
    0% {
      transform: translateX(-100%); 
      opacity: 1;
    }
    100% {
      transform: translateX(0); 
      opacity: 1; 
    }
  }
.come-in-text {
    animation: comeInAnimation 2s ease-out forwards;
  }
