*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
}

body{
    height: 100%;
    background-color: #8A0015;
    font-family: "lxgw-wenkai-mono-tc", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

p{
    margin-left:30%;
    margin-top: 25%;
    color:gold;
}

a{
  margin-left: 36%;
  color:aliceblue;
}

.slide-in-text {
    opacity: 0; 
    animation: slideIn 2s ease-out forwards; 
}


@keyframes slideIn {
    0% {
        transform: translateX(-100%); 
        opacity: 0;
    }
    100% {
        transform: translateX(0); 
        opacity: 1; 
    }
}
